* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-image: url('../Media/BeePuppyCatBackground3.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  animation-name: animate-pop;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
  animation-duration: .8s;
}

header img {
  height: 32vmin;
}

@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }

  50% {
    opacity: 0.5;
    transform: scale(1, 1);
  }

  100% {
    opacity: 1;
    transform: scale(.9, .9);
  }
}

#flex-display,
#bottom-row,
#game-display {
  display: flex;
  width: 100%;
}


#flex-display {
  flex-direction: row;
  margin-top: -5vmin;
  justify-content: space-around;
}

h1 {
  font-size: 3vmin;
  color: #73234c;
  height: 20%;
}

h2 {
  font-size: 2vmin;
  margin-top: 1vmin;
  color: #fff6fb;
  height: 20%;
}

#board,
#control-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  animation-name: fade-in;
  animation-duration: 1.5s;
}

#board {
  height: 70vh;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#turn-elements,
#high-score,
#hints {
  height: 10vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vmin;
}

#turn-elements {
  gap: 1vmin;
  width: 30%;
  text-align: center;
}

#high-score,
#hints {
  display: none;
  width: 35%;
  font-size: 2vmin;
}

/* #high-score h2,
#hints h2 {
  font-size: 2.5vmin;
} */

#hint-rounds,
#game-display,
#bottom-row {
  display: flex;
  gap: 1vmin;
}

#paw-wrapper {
  height: 40vmin;
}

#bottom-row {
  height: 100%;
  margin: 2vmin 0 6vmin;
}

#game-display {
  width: 50%;
}

#control-buttons,
#hint-button,
#replay-button {
  flex-direction: row;
  justify-content: center;
  gap: 2.5vmin;
}

#control-buttons button,
#hint-button button {
  font-size: 2.5vmin;
  height: 50%;
  padding: 1vmin 5vmin;
  border: none;
  border-radius: 7px;
  background-color: #ffbfa9;
  color: #6c4076;
}

#control-buttons button:hover,
#hint-button button:hover,
#replay-button button:hover {
  background-color: #fff4fc;
}

#hint-button,
#replay-button {
  display: none;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#hint-button button {
  background-color: #e8edee;
  color: #005f6a;
  border: none;
}

#replay-button button {
  border: none;
  height: 50%;
  border-radius: 7px;
  background-color: #ffe7ff;
  color: #9B5697;
  font-size: 2.5vmin;
  padding: 1vmin 5vmin;
}

#computer-avatar,
#player-avatar {
  width: 25%;
  justify-items: center;
}

#computer-avatar img,
#player-avatar img {
  max-width: 25vmin;
  max-height: 20vmin;
  opacity: 0;
}

#player-avatar img {
  float: right;
}

.swirl-in {
  animation: swirl-in .5s ease-out forwards;
}

.swirl-out {
  animation: swirl-out .5s ease-out forwards;
}

@keyframes swirl-in {
  0% {
    transform: rotate(-360deg) scale(0);
    opacity: 0;
  }

  50% {
    transform: rotate(-180deg) scale(.3);
    opacity: 0.5;
  }

  100% {
    transform: rotate(0deg) scale(.8);
    opacity: 1;
  }
}

@keyframes swirl-out {
  0% {
    transform: rotate(0deg) scale(.8);
    opacity: 1;
  }

  50% {
    transform: rotate(180deg) scale(.3);
    opacity: 0.5;
  }

  100% {
    transform: rotate(360deg) scale(0);
    opacity: 0;
  }
}

@keyframes button-click {
  0% {
    transform: scale(.9);
  }
  100% {
    transform: scale(1);
  }
}

#hint-button:active {
  animation: button-click 1s;
}

.modal {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff4fc;
  padding: 1vmin 8vmin;
  border-radius: 15px;
  width: 70vmin;
  max-width: 90%;
  max-height: 90%;
  text-align: center;
  overflow-y: auto;
}

.modal-content h1 {
  margin-top: 4vmin;
  font-size: 4vmin;
  height: 7vmin;
}

.modal-content p {
  font-size: 2vmin;
  margin-top: 2vmin;
  height: 40%;
}

#paw-number {
  height: auto;
  max-height: 25vmin;
  width: auto;
  margin-top: 8vmin;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.close {
  color: #000000;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: -4vmin;
}

.close:hover,
.close:focus {
  color: white;
  cursor: pointer;
}

#b1:hover,
#b2:hover,
#b3:hover,
#b4:hover {
  stroke: #fff6fb;
  stroke-width: 1;
}

#hint1,
#hint2,
#hint3,
#hint4 {
  width: 2vmin;
  height: 2vmin;
  border: 2px solid #50014c;
  background-color: #50014c;
  border-radius: 50%;
}

.disabled {
  pointer-events: none;
}

.wrapper {
  cursor: none;
}

@media screen and (max-width: 600px) {
  header {
    animation: none;
  }

  header img {
    height: 30vmin;
  }

  #board,
  #control-buttons {
    animation: none;
  }

  #flex-display,
  #bottom-row {
    display: flex;
    width: 100%;
  }
  
  #flex-display {
    flex-direction: column;
    margin-top: -5vmin;
    align-items: center;
    justify-content: start;
    
  }
  
  #high-score,
  #hints,
  #turn-elements {
    width: 100%;
    margin-bottom: 4vmin;
    gap: 4vmin;
  }

   #turn-elements {
    gap: 4vmin;
    order: 3;
  } 

  h2 {
    font-size: 4vmin;
  }
  
  h1 {
    font-size: 4vmin;
  }

  p {
    font-size: 4vmin;
    color: #50014c;
  }

  #flex-display p {
    color: #50014c;
  }

  #high-score h2, #hints h2 {
    font-size: 4vmin;
  }

  #hint1, #hint2, #hint3, #hint4 {
    width: 4vmin;
    height: 4vmin;
}

#control-buttons,
#hint-button,
#replay-button {
  flex-direction: column;
  width: 80%;
  gap: 2.5vmin;
  height: 15vmin;
  margin-top: 2vmin;
}

#game-display {
  justify-content: center;
}

#control-buttons button,
#hint-button button,
#replay-button button {
  width: 100%;
  height: 15vmin;
}

#hint-button,
#replay-button {
  justify-content: start;
}

.modal-content {
  background-color: #fff4fc;
  margin: 20vmin 7vmin;
  padding: 1vmin 8vmin;
  width: 40vh;
  height: 80vh;
}

.modal-content h1 {
  font-size: 8vmin;
}

.modal-content p {
  font-size: 5vmin;
  margin-top: 4vmin;
  height: 40%;
}

/* #paw-number {
  height: 40vmin;
  margin-top: 16vmin;
} */

.swirl-in {
  animation: none;

}

.swirl-out {
  animation: none;
  opacity: 1;
}

} 
